html {
  color-scheme: light;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
}

body {
  min-height: 100dvh;
  margin: 0;
  background: var(--color-background);
}

main {
  padding: var(--space-md);
}

.dot-pattern {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
